@import "./variables";

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
  }

  .navbar-brand{
    font-family: "Typo";
    font-weight: bold;
    color: $color-primario;
  }

  .navbar-brand:hover{
    font-family: "Typo";
    font-weight: bold;
    color: $color-primario-osc;
  }

  .nav-link:hover{
    color: $color-primario;
  }

 .active{
    color: rgb(30, 84, 155) !important;
  }

.boton-marca{
  background-color: $color-primario !important;
  border-color: $color-primario;
  border-radius: 15px !important;
}

.boton-marca:hover{
  background-color: $color-primario-claro !important;
  border-color: $color-primario-claro;
}

.boton-marca-secondary{
  background-color: $color-secundario !important;
  border-color: $color-secundario;
  border-radius: 15px !important;
}

.boton-marca-secondary:hover{
  background-color: $color-secundario-claro !important;
  border-color: $color-secundario-claro;
}

.text-marca-primary{
  color: $color-primario;
}

.text-marca-secondary{
  color: $color-secundario
}

.card{
  border-radius: 15px !important;
}

.card-img-marca{
  border-radius: 15px 15px 0px 0px;
}
